<h2>Courses Management</h2>

<ul class="courses">
  <li *ngFor="let course of courses">
    <button [class.selected]="course === selectedCourse" type="button" (click)="onSelect(course)">
      <span class="badge">{{course.id}}</span>
      <span class="name">{{course.name}}</span>
    </button>
  </li>
</ul>

<div *ngIf="selectedCourse">
    <h2>{{selectedCourse.name | uppercase}} Details</h2>
    <div>id: {{selectedCourse.id}}</div>
    <div>
      <label for="course-name">Course name: </label>
      <input id="course-name" [(ngModel)]="selectedCourse.name" placeholder="name">
    </div>
  </div>